{% extends "base/__base.html" %}

{% block content %}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Edit Expense</h5>

              <!-- No Labels Form -->
              <form class="row g-3" method="POST">
                {% csrf_token %}
                <div class="col-md-6">
                <select id="type" class="form-select" name="type">
                    <option disabled>Type</option>
                    <option value="income"  {% if expense.type == 'income' %}selected{% endif %}>Income</option>
                    <option value="expense" {% if expense.type == 'expense' %}selected{% endif %}>Expense</option>
                </select>
                </div>
                <div class="col-md-6">
                  <input type="number" class="form-control" placeholder="Amount" name="amount" value={{expense.amount}}>
                </div>
                <div class="col-12">
                  <input type="text" class="form-control" placeholder="Description" name="description" value={{expense.description}}>
                </div>
                <div class="col-md-6">
                  <input type="date" class="form-control" placeholder="Date" name="date"  value="{{ expense.date|date:'Y-m-d' }}">
                </div>
                <div class="col-md-6">
                    <select id="category" class="form-select" name="category">
                        <option disabled>Category</option>
                        <option value="Food" {% if expense.category == 'Food' %}selected{% endif %}>Food</option>
                        <option value="Transportation" {% if expense.category == 'Transportation' %}selected{% endif %}>Transportation</option>
                        <option value="Housing" {% if expense.category == 'Housing' %}selected{% endif %}>Housing</option>
                        <option value="Utilities" {% if expense.category == 'Utilities' %}selected{% endif %}>Utilities</option>
                        <option value="Health" {% if expense.category == 'Health' %}selected{% endif %}>Health</option>
                        <option value="Entertainment" {% if expense.category == 'Entertainment' %}selected{% endif %}>Entertainment</option>
                        <option value="Clothing" {% if expense.category == 'Clothing' %}selected{% endif %}>Clothing</option>
                        <option value="Education" {% if expense.category == 'Education' %}selected{% endif %}>Education</option>
                        <option value="Insurance" {% if expense.category == 'Insurance' %}selected{% endif %}>Insurance</option>
                        <option value="Personal Care" {% if expense.category == 'Personal Care' %}selected{% endif %}>Personal Care</option>
                        <option value="Gifts/Donations" {% if expense.category == 'Gifts/Donations' %}selected{% endif %}>Gifts/Donations</option>
                        <option value="Savings/Investment" {% if expense.category == 'Savings/Investment' %}selected{% endif %}>Savings/Investment</option>
                        <option value="Debt Payments" {% if expense.category == 'Debt Payments' %}selected{% endif %}>Debt Payments</option>
                        <option value="Miscellaneous" {% if expense.category == 'Miscellaneous' %}selected{% endif %}>Miscellaneous</option>
                    </select>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- End No Labels Form -->

            </div>
          </div>
    </div>
</div>



{% endblock  %}